<div class="screen">
  <!-- Left chat sidebar -->
  <aside class="aside-chat" [ngClass]="menu ? ' w-3/12 min-w-64 h-screen ' : ' w-16 h-auto'">
    <section
      class="w-full bg-white rounded-r-md flex flex-col h-full p-2"
      [ngClass]="!menu ? ' items-start ' : ''"
    >
      <div class="w-full flex items-center pl-4">
        <button (click)="toggleMenu()" class="h-12">
          <i class="pi pi-bars"></i>
        </button>
      </div>
      @if(menu){
      <div class="chat">
        @for (msg of messages; track $index) {
        <div
          class="message"
          [ngClass]="{ ' my-message ': checkMessageUser(msg) }"
        >
          <p class="m-0 text-white">
            @if(!checkMessageUser(msg)){
            <span class="font-bold text-white mr-1"
              >{{ msg.user.username }}:</span
            >
            }
            {{ msg.content }}
          </p>
        </div>
        }
      </div>
      <div class="w-full">
        <input
          fluid
          type="text"
          pInputText
          [(ngModel)]="msg"
          [ngModelOptions]="{ standalone: true }"
          placeholder="Digite sua mensagem..."
          maxlength="255"
        />
        <p-button fluid label="Enviar" (click)="sendNewMessage()" />
      </div>
      }
    </section>
  </aside>

  <!-- board  -->
  <div class="board-container">
    <div class="grid-board" #gridBoard>
      <!-- Grid dinamico -->
      @for (row of gridRows; track $index) {
        <div class="grid-row">
          @for (col of gridCols; track $index) {
            <div 
              class="grid-cell" 
              [attr.data-row]="row" 
              [attr.data-col]="col"
              (click)="handleCellClick(row, col)"
            ></div>
          }
        </div>
      }
      
      <!-- tokens -->
      @for (token of tokens; track token.id) {
        <div 
          class="token" 
          [ngClass]="token.type" 
          [style.top.px]="token.position.y" 
          [style.left.px]="token.position.x"
          (mousedown)="startDragging($event, token)"
        >
          {{ token.label }}
        </div>
      }
    </div>
  </div>

  <!-- Right tools sidebar -->
  <aside class="aside-tools">
    <div class="tools">
      <button class="h-12 w-full" (click)="addToken('character')">
        <i class="pi pi-user"></i>
      </button>
      <button class="h-12 w-full" (click)="addToken('monster')">
        <i class="pi pi-shield"></i>
      </button>
      <button class="h-12 w-full">
        <i class="pi pi-sliders-v"></i>
      </button>
      <button (click)="exitWorld()" class="h-12 w-full">
        <i class="pi pi-sign-out"></i>
      </button>
    </div>
  </aside>
</div>