<main>
  <app-navbar />
  <section class="mx-auto mt-12 w-10/12 bg-white p-4 rounded-md">
    <h3 class="text-3xl my-4 font-medium">Lista de Mundos</h3>
    <p-divider/>
    <div class="mb-8 flex gap-x-3 flex-wrap flex-row-reverse">
      <button pButton class="btn-primary" (click)="openWorldDialog('form')">
        <span class="pi pi-plus"></span>
        Novo Mundo
      </button>
      <button pButton class="btn-secondary" (click)="openWorldDialog('code')">
        <span class="pi pi-plus"></span>
        Acessar por Código
      </button>
      <app-form-new-world
        [visible]="visibleNewWorld"
        (closeEvent)="closeWorldDialog('form')"
        (refreshEvent)="listWorld()"
      />
      <app-access-world-code
        [visible]="visibleAccessCode"
        (closeEvent)="closeWorldDialog('code')"
        (refreshEvent)="listWorld()"
      />
    </div>
    @if(worlds.length > 0 && !loadingWorlds){
      <article>
        <p-table [value]="worlds" [tableStyle]="{ 'min-width': '50rem' }" [rowHover]="true"
        [rows]="10" [paginator]="true">
          <ng-template #header>
              <tr>
                  <th>Nome do Mundo</th>
                  <th>Criador</th>
                  <th>Visibilidade</th>
                  <th>Sistema</th>
              </tr>
          </ng-template>
          <ng-template #body let-world>
              <tr class="cursor-pointer" (click)="openWorldDialog('show', world.code)">
                  <td>{{ world.name }}</td>
                  <td>{{ world.user.username | titlecase }} </td>
                  <td>
                    <p-chip [label]="world.public ? 'Público' : 'Privado'" class="text-white"
                    [ngClass]="world.public ? ' bg-green-500 ': ' bg-blue-600 '"/>
                  </td>
                  <td>{{ world.system ?? "-" }}</td>
              </tr>
              <app-show-world
              [world]="selected_world"
              [visible]="visibleShowCode"
              (closeEvent)="closeWorldDialog('show')"
            />
          </ng-template>
      </p-table>
      </article>
    }
    @else if(worlds.length == 0 && !loadingWorlds){
      <h3 class="text-xl">Nenhum mundo foi encontrado...</h3>
    }
    @else{
      <div class="flex justify-center">
        <p-progress-spinner ariaLabel="loading" />
      </div>
    }
  </section>
</main>
