<nav class="w-full bg-white">
  <div class="py-4 flex justify-between mx-auto max-w-[1520px] align-middle">
    <div>
      <div class="w-14 h-14 bg-zinc-300 rounded-full"></div>
    </div>
    <div class="flex items-center">
      <ul class="flex gap-x-6">
        <li class="nav-link" routerLink="/home">Início</li>
        <li class="nav-link" routerLink="/list">Mundos</li>
        <li class="nav-link" routerLink="/tabletop/1">Features</li>
      </ul>
    </div>
    <div class="flex items-center">
      <i class="pi pi-user cursor-pointer" style="font-size: 1.5rem"></i>
    </div>
  </div>
</nav>