<main>
    <app-navbar />
    <section class="mx-auto mt-12 w-10/12 bg-white p-4 rounded-md">
      <h3 class="text-4xl my-4 font-medium">Meus Mundos</h3>
      <p-divider/>
      <div class="mb-8 flex gap-x-4 flex-wrap justify-end">
        <button pButton class="btn-primary" (click)="openWorldDialog('form')">
          <span class="pi pi-plus"></span>
          Novo Mundo
        </button>
        <app-form-new-world
          [visible]="visibleNewWorld"
          (closeEvent)="closeWorldDialog('form')"
          (refreshEvent)="listWorld()"
        />
      </div>
      @if(worlds.length){
        <article>
          <p-table [value]="worlds" [tableStyle]="{ 'min-width': '50rem' }" [rowHover]="true"
          [rows]="10" [paginator]="true">
            <ng-template #header>
                <tr>
                    <th>Nome do Mundo</th>
                    <th>Visibilidade</th>
                    <th>Sistema</th>
                    <th>Ações</th>
                </tr>
            </ng-template>
            <ng-template #body let-world>
                <tr class="cursor-pointer" (click)="openWorldDialog('show', world.code)">
                    <td>{{ world.name }}</td>
                    <td>
                      <p-chip [label]="world.public ? 'Público' : 'Privado'" class="text-white"
                      [ngClass]="world.public ? ' bg-green-500 ': ' bg-blue-600 '"/>
                    </td>
                    <td>{{ world.system ?? "-" }}</td>
                    <td>Ações</td>
                </tr>
                <app-show-world
                [world]="selected_world"
                [visible]="visibleShowCode"
                (closeEvent)="closeWorldDialog('show')"
              />
            </ng-template>
        </p-table>
        </article>
      }
      @else{
        <h3 class="text-xl">Nenhum mundo criado até o momento...</h3>
      }
    </section>
  </main>
  