<main>
  <app-navbar />

  <section class="mt-6 py-4 flex justify-between mx-auto max-w-[1320px] align-middle">
    <div class="hero-content d-flex flex-wrap pt-12">
      <h1 class="text-6xl mb-2 font-medium">Bem-vindo ao QuickAttack</h1>
      <p class="text-2xl my-3 text-zinc-600">O tabuleiro virtual que revoluciona o modo como você joga RPG.</p>
      <button pButton type="button" label="Comece Agora" class="p-button-primary"></button>
    </div>
    <img alt="Hero Background" class="hero-image"  src="bg-dados.jpeg"/>
  </section>
  
  <section class="py-4 mt-6 flex justify-between mx-auto max-w-[1320px] align-middle">
    <div class="feature-card">
      <span class="pi pi-plus" style="font-size: 2.5rem;"></span>
      <i class="pi pi-check" class="mb-4" style="font-size: 3rem"></i>
      <h2>Rolagem de Dados</h2>
      <p>Simule rolagens realistas e personalize seus dados.</p>
      <a href="#" class="text-blue-400 mt-2 hover:underline">Personalize agora!</a>
    </div>

    <div class="feature-card">
      <span class="pi pi-plus" style="font-size: 2.5rem;"></span>
      <i class="pi pi-check" class="mb-4"style="font-size: 3rem"></i>
      <h2>Jogue com Amigos</h2>
      <p>Conecte-se com jogadores ao redor do mundo.</p>
      <a href="#" class="text-blue-400 mt-2 hover:underline">Convidar Amigos</a>
    </div>

    <div class="feature-card">
      <span class="pi pi-plus" style="font-size: 2.5rem;"></span>
      <i class="pi pi-check" class="mb-4"style="font-size: 3rem"></i>
      <h2>Mapas Interativos</h2>
      <p>Crie e explore mapas dinâmicos para sua campanha.</p>
      <a href="#" class="text-blue-400 mt-2 hover:underline">Saiba mais</a>
    </div>
  </section>
</main>
