.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: #f4f4f4;
}

.hero-content {
  max-width: 50%;
}

.hero-image {
  max-width: 45%;
  border-radius: 10px;
}

.feature-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background-color: white;
  padding: 16px 8px;
  border-radius: 8px;
  transition-duration: 250ms;
}

.feature-card:hover {
  scale: 1.05;
}

.feature-card h2 {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 8px;
}
.feature-card p {
  color: black;
  width: 75%;
}